<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/header.css">
    <link rel="stylesheet" href="css/dropdown.css">
    <link rel="stylesheet" href="css/timeline.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel='stylesheet' href='lib/d3-context-menu/d3-context-menu.css' />

    <!-- <script src="https://unpkg.com/d3-hexgrid"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js" ></script>
    <script src="https://unpkg.com/simple-statistics@6.1.0/dist/simple-statistics.min.js" ></script>
    <script src="https://d3js.org/topojson.v1.min.js"></script>

    
    <script src="https://d3js.org/d3-array.v1.min.js"></script>
    <script src="https://d3js.org/d3-array.v2.min.js"></script>
    <script src="https://d3js.org/d3-geo.v1.min.js"></script>
    <script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
    <script src="https://d3js.org/d3-selection-multi.v0.4.min.js"></script>
    
    
    <script src="https://cdn.jsdelivr.net/npm/d3-color@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-interpolate@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-scale-chromatic@3"></script>

    <script src="lib/ss-jenks.js"></script>
    <script src="lib/d3-ellipse-collision.js"></script>
    <script src="lib/fisheye.js"></script>
    <script src='lib/d3-context-menu/d3-context-menu.js'></script>
    <script src="https://unpkg.com/d3-force-boundary@0.0.1/dist/d3-force-boundary.min.js"></script>
    
    <title>Timeline Viz</title>
</head>

<body>
    <div class='header'>
        <h1>TimelineViz</h1>
        <div class="dropdown">
            <button class="dropbtn">Select author</button>
            <div class="dropdown-content">
                <ul>
                    <table id='authors-list'></table>
                </ul>
            </div>
        </div>
        <div class="dropdown coauthors" style="display:none;">
            <button class="dropbtn">Select co-authors</button>
            <div class="dropdown-content">
                <ul>
                    <table id='coauthors-list'></table>
                </ul>
            </div>
        </div>
        <button class='submitbtn'>Submit</button>
    </div>
    <div class='loading' id='div-loading'></div>
    <div class="vis">
        <div class='legend'>
            <svg id='color-legend'></svg>
        </div>
        <div class='details'>
            <svg id='geo'></svg>
            <svg id='treemap'></svg>
        </div>
        <div class='timeline'>
            <svg id="chart">
                <filter id="blur-image">
                    <feGaussianBlur in="SourceGraphic" stdDeviation="10"></feGaussianBlur>
                </filter>
                <g id='flag-pattern-group'></g>
                <g id='group-chart'>
                    <g id='top-axis'></g>
                    <g id='bottom-axis'></g>
                    <g id='left-axis'></g>
                    <g id='link-group'></g>
                </g>            
            </svg>
        </div>
    </div>

    <script src="js/timeline.js"></script>
    
    <script>
        const data = <%- JSON.stringify(data) %>;
        const timeline = new Timeline()
        
        window.addEventListener('load', (event) => {
            timeline.init(data)
            setFilters(data)
        });
        
    </script>
    <script src="js/utils.js"></script>
</body>