* {
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: gray 5px;
    width: 100%;
    font-size: 14px;
    height: 7%;
    z-index: 2;
}

.header h1 {
    display: inline-block;
    margin-left: 10px;
    text-anchor: middle;
}


.vis {
    width: 100vw;
    height: 93%;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
    top: 7%;
}

.loading {
    opacity: .8;
    background-color: whitesmoke;
    position: fixed;
    top: 7%;
    height: 93%;
    width: 100vw;
    display: none;
    z-index: 2;
    vertical-align: middle;
    text-align: center;
}