.zoom-div{
    position: absolute;
    display: none;
    background-color: white;
    border-radius: 5px;
    box-shadow: 10px 5px 5px #dbdbdb;
    width: 120px;
    height: 130px;
}

.zoom-control{
    cursor: pointer;
    position: absolute;
    background-color: #dbdbdb;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    border: none;
    display: inline-block;
}

.context-menu{
    cursor: pointer;
    position: absolute;
    background-color: whitesmoke;
    border-radius: 5px;
    z-index: 1000;
    display: none;
    border: none;
    padding: 5px;
    box-shadow: 10px 5px 5px #dbdbdb;
}

.timeline {
    float: left;
    width: 70%;
    height: calc(100% - 40px);
}

.details {
    float: left;
    width: 30%;
    height: calc(100% - 40px);
}

.legend {
    float: left;
    width: 100%;
    height: 40px;
}
